{% extends 'base.html' %}
{% block content %}

{% include 'partials/_navbar.html' %}

<div class="container">
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Receitas</h3>
        <p class="font-italic text-muted mb-4">Receitas retiradas de <a href="appreceitas.herokuapp.com">appreceitas.herokuapp.com</a>.</p>
        {% if recipes %}
        <div class="row">
        {% for recipe in recipes %}
          <!-- DEMO 1 Item-->
          <div class="col-6 mb-3 p">
            <div class="hover hover-1 text-white rounded"><img src="{{ recipe.foto_receita }}" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-1-content px-5 py-4">
                <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Image </span>Caption</h3>
                <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    {% if posts %}
        <div class="row">
            <h1>Django Blog content</h1>
            <div class="row">
            {% for post in posts %}
                <div class="pb-4 col-sm">
                    <p>The poster's username is: <strong>{{ post.author }}</strong>.</p>
                    <p>The post's title is: <strong>{{ post.title }}</strong>.</p>
                    <p>The post's content is: <strong>{{ post.content }}</strong>.</p>
                    <p>The date posted is: <strong>{{ post.date_posted }}</strong>.</p>
                </div>
            {% endfor %}
            </div>
        </div>
</div>
    {% endif %}

{% endblock %}